<ul class="unstyled">
  <li><%= link_to t("employee.sidebar.data"), employee_details_path, :remote => true %></li>
  <li><%= link_to t("employee.sidebar.cv"), employee_cv_list_path, :remote => true %></li>
  <li><%= link_to t("employee.sidebar.bookmarks"), employee_bookmarks_path, :remote => true %></li>
  <li><%= link_to t("employee.sidebar.calendar"), employee_calendar_path, :remote => true %></li>
  <li><%= link_to t("shared.nav.empoyee.search"), '#' %></li>
</ul>
