<div class="span16">
  <h1><%= t(:"add_new_position") %></h1>


  <%= form_for @position, :url => company_positions_path do |f| %>
      <div class="page-header"> общая информация</div>
      <fieldset>
        <div class="clearfix">
          <div class="row5">
            <% @spheres.each do |sphere| %>
                <div class="input">
                  <div class="input-prepend">
                    <label class="add-on active"><input type="checkbox" name="" id="" value=""></label>
                    <input class="mini" style="width: 291px" id="prependedInput2" name="prependedInput2" size="160" type="text" value="<%= sphere.title %>" disabled="disabled">
                  </div>
                </div>
            <% end %>
          </div>

        </div>
      </fieldset>
      <fieldset>
        <%= f.label :title %>
        <%= f.text_field :title, :class => :xlarge %>
      </fieldset>

      <fieldset>
        <%= f.label :description %>
        <%= f.text_area :description %>
      </fieldset>

      <fieldset>
        <%= f.label :level %>
        <%= f.text_field :level %>
      </fieldset>

      <fieldset>
        <%= f.label "region" %>
        <%= f.text_field :region_id %>
      </fieldset>

      <fieldset>
        <%= f.label :salary %>
        <%= f.text_field :salary %>
      </fieldset>

      <fieldset>
        <%= f.label :busyness_id %>
        <%= f.text_field :busyness_id %>
      </fieldset>

      <fieldset>
        <%= f.label :education_id %>
        <%= f.text_field :education_id %>
      </fieldset>

      <fieldset>
        <%= f.label :description %>
        <%= f.text_field :description %>
      </fieldset>
  <% end %>
</div>