<ul class="unstyled">
  <li><%= link_to t("shared.nav.empoyee.my_data"), '#' %></li>
  <li><%= link_to t("shared.nav.empoyee.my_cv"), employee_cv_list_path, :remote => true %></li>
  <li><%= link_to t("shared.nav.empoyee.my_bookmarks"), '#' %></li>
  <li><%= link_to t("shared.nav.empoyee.my_calendar"), '#' %></li>
  <li><%= link_to t("shared.nav.empoyee.search"), '#' %></li>
</ul>
