<header class="jumbotron masthead" id="overview">
  <div class="inner">
    <div class="container">
      <div class="span9 search">
      <%= form_tag 'positions/search', :class => "well form-search", :remote => true do -%>
          <div class="search_area">
            <%= text_field_tag 'position', nil, :placeholder=> "ВВЕДИТЕ ДОЛЖНОСТЬ", :class=> :"search-query" %>
          </div>
      <% end -%>
      </div>
    </div>
    <!-- /container -->
    <ul id="siteNav">
      <% if current_user %>
        <% if current_user.is_company? %>
          <li>
            <%= link_to t("shared.nav.company.my_items"), positions_path, :remote => true %>
          </li>
          <li><%= link_to t("shared.nav.company.responces"), "#" %></li>
          <li><%= link_to t("shared.nav.company.agents"), "#" %></li>
          <li><%= link_to t("shared.nav.company.goods"), "#" %></li>
        <% else %>
          <li><%= link_to t("shared.nav.empoyee.notepad"), employee_notepad_path %></li>
          <li><%= link_to t("shared.nav.empoyee.messages"), "#" %></li>
          <li><%= link_to t("shared.nav.empoyee.search"), "#" %></li>
          <li><%= link_to t("shared.nav.empoyee.settings"), "#" %></li>
          <li><%= link_to t("shared.nav.empoyee.blog"), "#" %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</header>
