       <div class="clearfix">
          <%= f.fields_for :experience do |exp| %>

              <div class="clearfix">
                <%= exp.label :company %>
                <div class="input"><%= exp.text_field :company %></div>
              </div>
                            <div class="clearfix">
                <%= exp.label :city %>
                <div class="input"><%= exp.text_field :city %></div>
              </div>

                            <div class="clearfix">
                <%= exp.label :position %>
                <div class="input"><%= exp.text_field :position %></div>
              </div>

                            <div class="clearfix">
                <%= exp.label :date_start %>
                <div class="input"><%= exp.text_field :date_start %></div>
              </div>

                      <div class="clearfix">
                <%= exp.label :date_end %>
                <div class="input"><%= exp.text_field :date_end %></div>
              </div>

                      <div class="clearfix">
                <%= exp.label :description %>
                <div class="input"><%= exp.text_field :description %></div>
              </div>

              <%= link_to :add_experience, add_experience_path, :remote => true %>
          <% end %>
        </div>