<% if @user_detail %>
    <%= form_for @user_detail, :url => :user_details, :validate => true, :remote => true do |f| %>
        <fieldset>
          <legend>Личные данные</legend>
          <div class="clearfix"><%= f.label :first_name %><%= f.text_field :first_name, :class=> :xlarge %></div>
          <div class="clearfix"><%= f.label :last_name %><%= f.text_field :last_name, :class=> :xlarge %></div>
          <div class="clearfix"><%= f.label :phone %><%= f.text_field :phone, :class => :xlarge %></div>
          <div class="clearfix">
            <%= f.label :birthday %>
            <%= f.date_select("birthday", :order => [:year, :month, :day],
                              :start_year => 1970,
                              :prompt => {:day => 't day', :month => 'Select month', :year => 'Select year'}, :class => :mini) %>
          </div>
          <div class="clearfix"><%= f.label :city %><%= f.text_field :city %></div>
          <div class="actions">
            <%= f.submit 'Next', :class=> "btn primary" %>
          </div>
        </fieldset>
    <% end %>
<% end %>

<div class="<%= 'inactive' if @user_detail %>">
  <%= form_for @cv, :url => cv_path do |f| %>
      <fieldset>
        <legend>Общая информация</legend>
        <div class="clearfix">
          <%= f.label :title %>
          <div class="input">
            <%= f.text_field :title, :class => :xlarge %>
          </div>
        </div>

        <div class="clearfix">
          <%= f.label :salary %>
          <div class="input">
            <%= f.text_field :salary, :class => :xlarge %>
          </div>
        </div>

        <div class="clearfix">
          <%= f.label :expirience %>
          <div class="input">
            <%= f.text_field :expirience, :class => :xlarge %>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend>Дополнительная информация о Вас</legend>

        <div class="clearfix">
          <%= f.label :info %>
          <div class="input">
            <%= f.text_field :info, :class => :xlarge %>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend>Статус резюме</legend>
        <div class="clearfix">
          <div class="span5">
            <ul class="inputs-list active">
              <li><label><input type="radio" value="true" name="cv[status]"><span>Активная</span></label></li>
              <li><label><input type="radio" value="false" name="cv[status]"><span>Неактивная</span></label></li>
            </ul>
          </div>
        </div>
      </fieldset>

      <div class="actions">
        <%= f.submit "Сохранить", :class=> "btn primary" %>
      </div>
  <% end %>
</div>
