<% if @user_detail %>
    <%= form_for @user_detail, :url => :user_details, :validate => true, :remote => true do |f| %>
        <fieldset>
          <legend>Личные данные</legend>
          <div class="clearfix"><%= f.label :first_name %><%= f.text_field :first_name, :class=> :xlarge %></div>
          <div class="clearfix"><%= f.label :last_name %><%= f.text_field :last_name, :class=> :xlarge %></div>
          <div class="clearfix"><%= f.label :phone %><%= f.text_field :phone, :class => :xlarge %></div>
          <div class="clearfix">
            <%= f.label :birthday %>
            <%= f.date_select("birthday", :order => [:year, :month, :day],
                              :start_year => 1970,
                              :prompt => {:day => 't day', :month => 'Select month', :year => 'Select year'}, :class => :mini) %>
          </div>
          <div class="clearfix"><%= f.label :city %><%= f.text_field :city %></div>
          <div class="actions">
            <%= f.submit 'Next', :class=> "btn primary" %>
          </div>
        </fieldset>
    <% end %>
<% end %>

<div class="<%= 'inactive' if @user_detail %> new_cv_wrapper">
  <%= form_for @cv, :url => cv_path, :validate => true, :html => {:class => "form-stacked"} do |f| %>
      <fieldset>
        <legend>Общая информация</legend>
        <div class="clearfix">
          <%= f.label :title, 'Заголовок резюме' %>
          <div class="input">
            <%= f.text_field :title, :class => :span7 %>
            <span class="help-inline"></span>
          </div>
        </div>

        <div class="clearfix">
          <%= f.label t(:salary) %>
          <div class="input">
            <%= f.text_field :salary, :class => :xlarge %>
          </div>
        </div>
      </fieldset>


      <fieldset id="experience">
        <legend><%= t(:experience) %></legend>
        <div class="clearfix">
          <%= f.fields_for :experience do |experience| %>
              <%= render :partial => "experience", :locals => {:f => experience} %>
          <% end %>
        </div>
        <p><%= add_child_link "добавить опыт", :experience %></p>


        <%= new_child_fields_template f, :experience %>


      </fieldset>

      <fieldset>
        <legend><%= t(:education) %></legend>
        <div class="clearfix">
          <%= f.fields_for :education do |education| %>
            <%= render :partial => 'education', :locals => {:f => education} %>
          <% end %>
        </div>

        <p><%= add_child_link "добавить место учебы", :education %>
        <%= new_child_fields_template f, :education %>
      </fieldset>

      <fieldset>
        <legend><%= t(:training) %></legend>
        <div class="clearfix">
          <%= f.fields_for :training do |training| %>
            <%= render :partial => 'training', :locals => {:f => training} %>
          <% end %>          
        </div>
        <p><%= add_child_link "добавить тренинг", :training %>
        <%= new_child_fields_template f, :training %>
      </fieldset>

      <fieldset>
        <legend>Дополнительная информация о Вас</legend>

        <div class="clearfix">
          <%= f.label :description %>
          <div class="input">
            <%= f.text_field :description, :class => :xlarge %>
          </div>
        </div>
      </fieldset>
      
      <fieldset>
        <legend>Тэги</legend>
        <div class="clearfix">
          <%= f.label :skill_list %>
          <div class="input"><%= f.text_field :skill_list, :class => :xlarge %></div>
        </div>
      </fieldset>

      <fieldset>
        <legend>Статус резюме</legend>
        <div class="clearfix">
          <div class="span5">
            <ul class="inputs-list active">
              <li><label><input type="radio" value="true" name="cv[active]"><span>Активная</span></label></li>
              <li><label><input type="radio" value="false" name="cv[active]"><span>Неактивная</span></label></li>
            </ul>
          </div>
        </div>
      </fieldset>

      <div class="actions">
        <%= f.submit "Сохранить", :class=> "btn primary" %>
      </div>
  <% end %>

</div>
