<% if @user_detail %>
    <%= form_for @user_detail, :url => :user_details, :validate => true, :remote => true do |f| %>
        <fieldset>
          <legend>Личные данные</legend>
          <div class="clearfix"><%= f.label :first_name %><%= f.text_field :first_name, :class=> :xlarge %></div>
          <div class="clearfix"><%= f.label :last_name %><%= f.text_field :last_name, :class=> :xlarge %></div>
          <div class="clearfix"><%= f.label :phone %><%= f.text_field :phone, :class => :xlarge %></div>
          <div class="clearfix">
            <%= f.label :birthday %>
            <%= f.date_select("birthday", :order => [:year, :month, :day],
                              :start_year => 1970,
                              :prompt => {:day => 't day', :month => 'Select month', :year => 'Select year'}, :class => :mini) %>
          </div>
          <div class="clearfix"><%= f.label :city %><%= f.text_field :city %></div>
          <div class="actions">
            <%= f.submit 'Next', :class=> "btn primary" %>
          </div>
        </fieldset>
    <% end %>
<% end %>

<div class="<%= 'inactive' if @user_detail %>">
  <%= form_for @cv, :url => cv_path, :validate => true do |f| %>
      <fieldset>
        <legend>Общая информация</legend>
        <div class="clearfix">
          <%= f.label :title, 'Заголовок резюме' %>
          <div class="input">
            <%= f.text_field :title, :class => :xlarge %>
          </div>
        </div>

        <div class="clearfix">
          <%= f.label :salary %>
          <div class="input">
            <%= f.text_field :salary, :class => :xlarge %>
          </div>
        </div>
      </fieldset>


      <fieldset id="experience">
        <legend>Experience</legend>
        <div class="clearfix">
          <%= f.fields_for :experience do |exp| %>

              <div class="clearfix">
                <%= exp.label :company %>
                <div class="input"><%= exp.text_field :company %></div>
              </div>
                            <div class="clearfix">
                <%= exp.label :city %>
                <div class="input"><%= exp.text_field :city %></div>
              </div>

                            <div class="clearfix">
                <%= exp.label :position %>
                <div class="input"><%= exp.text_field :position %></div>
              </div>

                            <div class="clearfix">
                <%= exp.label :date_start %>
                <div class="input"><%= exp.text_field :date_start %></div>
              </div>

                      <div class="clearfix">
                <%= exp.label :date_end %>
                <div class="input"><%= exp.text_field :date_end %></div>
              </div>

                      <div class="clearfix">
                <%= exp.label :description %>
                <div class="input"><%= exp.text_field :description %></div>
              </div>

              <%= link_to :add_experience, add_experience_path, :remote => true %>
          <% end %>
        </div>
        <p><%= add_child_link "добавить опыт", :experience %></p>


      </fieldset>


      <fieldset>
        <legend>Дополнительная информация о Вас</legend>

        <div class="clearfix">
          <%= f.label :description %>
          <div class="input">
            <%= f.text_field :description, :class => :xlarge %>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend>Статус резюме</legend>
        <div class="clearfix">
          <div class="span5">
            <ul class="inputs-list active">
              <li><label><input type="radio" value="true" name="cv[active]"><span>Активная</span></label></li>
              <li><label><input type="radio" value="false" name="cv[active]"><span>Неактивная</span></label></li>
            </ul>
          </div>
        </div>
      </fieldset>

      <div class="actions">
        <%= f.submit "Сохранить", :class=> "btn primary" %>
      </div>
  <% end %>

</div>
