<h2>Sign in</h2>

<%= devise_error_messages! %>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

    <!--<div class="clearfix">-->
    <!--<label for="xlInput">X-Large input</label>-->

    <!--<div class="input">-->
    <!--<input class="xlarge" id="xlInput" name="xlInput" size="30" type="text">-->
    <!--</div>-->
    <!--</div>-->

    <div class="clearfix">
      <%= f.label :email %>

      <div class="imput"><%= f.email_field :email, :class => 'xlarge' %></div>
    </div>

    <div class="clearfix">
      <%= f.label :password %>

      <div class="imput"><%= f.password_field :password, :class => 'xlarge' %></div>
    </div>

    <% if devise_mapping.rememberable? == false -%>
        <div class="clearfix">
          <label>
            <span><%= t(:remember_me) %></span>
            <%= f.check_box :remember_me %>
          </label>
        </div>
    <% end -%>

    <div class="actions">
      <!--<input type="submit" class="btn primary" value="Save changes">&nbsp;-->
      <%= f.submit "Sign in", :class => "btn primary" %>
      <button type="reset" class="btn">Cancel</button>
    </div>

<% end %>

<%= render :partial => "devise/shared/links" %>
