<h2>Вход на сайт</h2>
<div><%= render :partial => 'shared/vk_button' %></div>

<%= devise_error_messages! %>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => ""}) do |f| %>
    <fieldset>
      <div class="clearfix">
        <%= f.email_field :email, :class => 'span4', :placeholder=>"Электронная почта" %>
      </div>

      <div class="clearfix">
        <%= f.password_field :password, :class => 'span4', :placeholder=>"Пароль" %>
      </div>
    </fieldset>

    <%= f.submit "Войти", :class => "btn primary" %>
    <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
        <%= link_to t("shared.nav.forgot"), new_password_path(resource_name), :class=> "forgot-password" %><br />
    <% end -%>

<% end %>

<%#= render :partial => "devise/shared/links" %>
