!!!
%html
  %head
    %title Getajob
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    = stylesheet_link_tag :application
    = javascript_include_tag :application, :nav
    = csrf_meta_tags
  %body{:class => params[:controller]}
    %div.topbar
      %div.fill
        %div.container
          = link_to 'GetAJob', root_path, :class => 'brand'
          %ul.nav
            %li
              = link_to t('layout.home'), root_path
            %li
              = link_to t('layout.about'), '#about'
            %li
              = link_to t('layout.contacts'), '#contacts'
          %div.pull-right
            %ul.nav
            = render 'shared/navigation'
    = render 'shared/masthead'
    %div.container
      %div.contents
        -#%div.page-header
        -#  %h1
        -#    = t('layout.promo1')
        -#    %small
        -#      = t('layout.promo2')
        %div.row
          = yield
          -#%div.span4
          -#  %h6 something less relevant
      %footer
        %p getajob.com 2011
