!!!
%html
  %head
    %title Getajob
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    = stylesheet_link_tag :application
    = javascript_include_tag :application, :nav
    = csrf_meta_tags
  %body{:class => [params[:controller], current_user ? (current_user.is_company ? "company" : "persona") : ""] }
    %div.topbar
      %div.fill
        %div.container
          = link_to 'айРаботка', root_path, :class => 'brand'
          %div.pull-right
            %ul.nav
            = render 'shared/action'
    = render 'shared/masthead' 
    %div.container
      %div.contents
        %div.row
          = yield
      %footer
        %p getajob.com 2011
